<%-include("navbar.ejs")%>

<form
  action="/admin/save_homedep_doctors"
  method="post"
  enctype="multipart/form-data"
>
  <div class="container p-4 bg-white">
    <div class="row">
      <div class="col-md-12">
        <h3>Home dep doctors</h3>
      </div>
      <div class="col-md-12 mt-3">
         Image
        <input type="file" name="image" class="form-control" />
      </div>
      <div class="col-md-12 mt-3">
        Name
        <input type="text" name="name" class="form-control" />
      </div>
      <div class="col-md-12 mt-3">
        Position
        <input type="text" name="position" class="form-control" />
      </div>
      <div class="col-md-12 mt-3">
        Education
        <input type="text" name="education" class="form-control" />

      </div>
      

      <div class="col-md-12 mt-3 text-center">
        <button class="btn btn-primary">Save Home Dep part1</button>
     </div>
    </div>
  </div>
</form>

<div class="container-fluid mt-5 bg-white">
  <div class="row">
      <div class="col-md-12 mt-5">
          <h3>home dep part1</h3>
          <table class="table table-bordered table-sm table-striped mt-4">
          <tr>
              <th>ACTION</th>
              <th>SN</th>
              <TH> Image</TH>
              <th>name</th>
              <th>position</th>
              <th>education</th>
             

          </tr>
          <%
          for(i=0;i<homedep_doctors.length;i++)
          {
              %>
               <tr>
                  <td>
                      <a href="/admin/edit_homedep_doctors/<%=homedep_doctors[i]._id%>">
                          <button class="btn btn-primary p-0 pe-2 ps-2 mt-3">
                              <i class="fa fa-pencil"></i>
                          </button>
                      </a>
                      <a href="/admin/delete_homedep_doctors/<%=homedep_doctors[i]._id%>" onclick="return confirm('Are You Sure...')">
                          <button class="btn btn-warning p-0 pe-2 ps-2 mt-3">
                              <i class="fa fa-trash"></i>
                          </button>
                      </a>
                  </td>
                  <td><%=i+1%></td>
                  <td>
                      <img src="/uploads/<%=homedep_doctors[i].image%>" width="150px" height="100px" >
                     
                      </td>
                  <td><%=homedep_doctors[i].name%></td>
                  <td><%=homedep_doctors[i].position%></td>
                  <td><%=homedep_doctors[i].education%></td>

                 


               </tr>
              <%
          }
          %>
      </table>
      </div>
  </div>
</div>

<%-include("footer.ejs")%>