<%-include("navbar.ejs")%>

<form
  action="/admin/save_home_testimonial"
  method="post"
  enctype="multipart/form-data"
>
  <div class="container p-4 bg-white">
    <div class="row">
      <div class="col-md-12">
        <h3>home testimonial</h3>
      </div>
      <div class="col-md-12 mt-3">
        Image
        <input type="file" name="image" class="form-control" />
      </div>
      <div class="col-md-12 mt-3">
        heading
        <textarea name="heading" class="form-control"></textarea>

      </div>
      
      <div class="col-md-12 mt-3">
        name
        <input type="text" name="name" class="form-control" />
      </div>
      <div class="col-md-12 mt-3">
        position
        <input type="text" name="position" class="form-control" />
      </div>
      
      <div class="col-md-12 mt-3 text-center">
        <button class="btn btn-primary">Save home testimonial</button>
     </div>
    </div>
  </div>
</form>

<div class="container-fluid mt-5 bg-white">
    <div class="row">
        <div class="col-md-12 mt-5">
            <h3>home testimonial</h3>
            <table class="table table-bordered table-sm table-striped mt-4">
            <tr>
                <th>ACTION</th>
                <th>SN</th>
                <TH> Image</TH>
                <th>heading</th>
                <th>name</th>
                <th>position</th>
               


               
  
            </tr>
            <%
            for(i=0;i<home_testimonial.length;i++)
            {
                %>
                 <tr>
                    <td>
                        <a href="/admin/edit_home_testimonial/<%=home_testimonial[i]._id%>">
                            <button class="btn btn-primary p-0 pe-2 ps-2 mt-3">
                                <i class="fa fa-pencil"></i>
                            </button>
                        </a>
                        <a href="/admin/delete_home_testimonial/<%=home_testimonial[i]._id%>" onclick="return confirm('Are You Sure...')">
                            <button class="btn btn-warning p-0 pe-2 ps-2 mt-3">
                                <i class="fa fa-trash"></i>
                            </button>
                        </a>
                    </td>
                    <td><%=i+1%></td>
                    <td>
                        <img src="/uploads/<%=home_testimonial[i].image%>" width="150px" height="100px" >
                       
                        </td>
                    <td><%=home_testimonial[i].heading%></td>

                    <td><%=home_testimonial[i].name%></td>
                    <td><%=home_testimonial[i].position%></td>
                    

                   
  
  
                 </tr>
                <%
            }
            %>
        </table>
        </div>
    </div>
  </div>

<%-include("footer.ejs")%>