<%- include("navbar.ejs") %>

 <!-- body start -->

 <div class="container-fluid">
    <div class="row">
      <div class="col-12 p-0 Cardiology_page_banner">
        <h1 class="ml-5 mt-5">Cardiology Department</h1>
        <li class="d-inline-block" style="margin-left: 50px">Home</li>
        <li class="d-inline-block ml-3">
          <i class="fa-solid fa-chevron-right"></i>
        </li>
        <li class="d-inline-block" style="margin-left: 30px">Departments</li>
        <li class="d-inline-block ml-3">
          <i class="fa-solid fa-chevron-right"></i>
        </li>

        <li class="d-inline-block ml-3">Cardiology</li>
      </div>
    </div>
  </div>
  <section>
    <div class="container mt-5 p-0" style="margin-bottom: 70px">
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12 mb-2">
              <h2><%=cardiology_main.title1%></h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mt-2">
              <div class="card card-body text-center">
                <div class="row">
                  <%for(i=0;i<cardiology_part1.length;i++)
              {
                  %>
                  <div class="col-md-12 text-justify">
                    <ul>
                      <li
                        class="d-inline-block text-primary"
                        style="font-size: 22px; font-weight: bold"
                      >
                        <%=cardiology_part1[i].name1%><br>
                        <%=cardiology_part1[i].name2%>

                      </li>
                      <li
                        class="d-inline-block text-primary"
                        style="margin-left: 50px"
                      >
                        <i class="<%=cardiology_part1[i].icon%>"></i>
                      </li>
                    </ul>
                  </div>
                  <%
        
                }
                %>
                  
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-5">
              <div class="card card-body">
                <div class="row">
                  <div class="col-4">
                    <img
                      src="/uploads/<%=cardiology_part2.image%>"
                      alt=""
                      class="img-fluid w-100"
                    />
                  </div>
                  <div class="col-8">
                    <h3><%=cardiology_part2.name%></h3>
                    <h6 style="font-size: 20px"><%=cardiology_part2.no%></h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-8 mt-2">
          <div class="row">
            <div class="col-md-12 p-0">
              <img
                src="/uploads/<%=cardiology_main.image%>"
                alt=""
                class="w-100 img-fluid"
              />
            </div>
            <div class="col-md-12 p-0 text-justify" style="margin-top: 60px">
              <h2><%=cardiology_main.title2%></h2>
              <%=cardiology_main.para1%><br /><br />
              <%=cardiology_main.para2%><br /><br />
              <%=cardiology_main.para3%><br /><br />
              <%=cardiology_main.para4%>
              

              <%for(i=0;i<cardiology_part3.length;i++)
              {
                  %>

              <ul class="text-justify p-0 mt-4 mb-4">
                <li class="d-inline-block ml-0 mt-2" style="font-size: 22px">
                  <i
                    class="<%=cardiology_part3[i].icon%>"
                    style="color: blue"
                  ></i>
                </li>
                <li
                  class="d-inline-block"
                  style="
                    font-size: 22px;
                    font-weight: normal;
                    margin-left: 30px;
                  "
                >
                  <h4><%=cardiology_part3[i].name%></h4>
                </li>
              </ul>
              <%
        
            }
            %>
    
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- body end-->

<%- include("footer.ejs") %>